.device-recordings-root {
    flex: 0 1 100%;
    padding: 2.5rem 3.5rem;
    display: flex;
    flex-direction: column;

    mat-card {
        flex: 0 1 100%;

        mat-card-content {
            display: flex;
            flex-direction: column;

            .no-recordings {
                align-self: center;
                
                h3 {
                    margin: 0;
                    padding: 1.25rem;
                }
            }
        }
    }
}