.add-device-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;

    .title {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding-left: .5rem;
            font-size: 1.5rem;
        }
    }

    mat-form-field {
        flex: 1 1 100%;
    }

    .content {
        padding-bottom: 1rem;

        .progress-bar {
            padding-top: 1rem;
        }
    }

    .actions {
        display: flex;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    mat-panel-description {
        justify-content: flex-end;
        align-items: center;
        margin-right: 0;
    
        mat-icon {
            padding-left: 1rem;
        }
    }
}

.line-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &[dense] {
        .line-item {
            padding-bottom: 0;
            
            .line-item-body {
                .line-item-header {
                    font-size: .875rem;
                }
            }
        }
    }

    .line-item {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        &:last-child {
            padding-bottom: 0;
        }
    
        .line-item-icon {
            padding: .25rem;
        }
        .line-item-body {
            padding-left: 1rem;
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
    
            .line-item-header {
                font-size: 1rem;
            }
            .line-item-content {
                font-size: .875rem;
            }
        }
    }
}

.form-label {
    padding-left: 1rem;
}