@import '~@angular/material/theming';
@import './app/app.component.theme.scss';
@import './app/devices-page/devices-page.component.theme.scss';
@import './app/device-recordings-page/device-recordings-page.component.theme.scss';
@include mat-core();

$app-primary: mat-palette($mat-cyan);
$app-accent:  mat-palette($mat-blue-gray);

$app-theme: mat-dark-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
@include app-theme($app-theme);
@include devices-page-theme($app-theme);
@include devices-recordings-page-theme($app-theme);

html, body {
    margin: 0;
    height: 100vh;

    .app-container {
        display: flex;
        flex-direction: column;

        router-outlet {
            flex: 0;
        }

        &>* {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.scrollable {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: .75rem;
        height: .75rem;
    }
    &::-webkit-scrollbar-thumb {
        background: mat-color(map-get($app-theme, accent));
    }
}

mat-bottom-sheet-container {
    &.scrollable {
        &::-webkit-scrollbar {
            width: .5rem;
            height: .5rem;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0 .25rem 0 0;
        }
    }
}