<div class="recording-sheet-root" *ngIf="recording$ | async as recording">
  <div class="title">
    <mat-icon>mic</mat-icon>
    <span>Recording</span>
  </div>
  <div class="line-item-list">
    <div class="line-item">
      <mat-icon class="line-item-icon">today</mat-icon>
      <div class="line-item-body">
        <div class="line-item-content">
          <span>{{formatDate(recording.recordingTime)}}</span>
        </div>
      </div>
    </div>
    <div class="line-item">
      <mat-icon class="line-item-icon">storage</mat-icon>
      <div class="line-item-body">
        <div class="line-item-content">
          <span>{{recording.data | json}}</span>
        </div>
      </div>
    </div>
  </div>
</div>