<div class="recording-sheet-root" *ngIf="recording$ | async as recording">
  <div class="title">
    <mat-icon>mic</mat-icon>
    <span>Recording</span>
  </div>
  <mat-list>
    <mat-list-item *ngIf="recording.recordingTime">
      <mat-icon mat-list-icon>today</mat-icon>
      <span>{{formatDate(recording.recordingTime)}}</span>
    </mat-list-item>
    <mat-list-item *ngIf="recording.data">
      <mat-icon mat-list-icon>storage</mat-icon>
      <span>{{recording.data | json}}</span>
    </mat-list-item>
  </mat-list>
</div>