.recording-sheet-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;

    .title {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 0;

        span {
            padding-left: .5rem;
            font-size: 1.5rem;
        }
    }

    .content {
        margin: .5rem 0;
    }
}

.line-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &[dense] {
        .line-item {
            padding-bottom: 0;
            
            .line-item-body {
                .line-item-header {
                    font-size: .875rem;
                }
            }
        }
    }
}

.line-item {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    &:last-child {
        padding-bottom: 0;
    }

    .line-item-icon {
        align-self: flex-start;
        padding: .25rem;
    }
    .line-item-body {
        padding-left: 1rem;
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;

        .line-item-header {
            font-size: 1rem;
        }
        .line-item-content {
            font-size: .875rem;
        }
    }
}