.devices-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devices-container {
    padding: 1.25rem 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.device-wrapper {
    display: flex;
    flex-direction: column;

    .device-card {
        flex: 0 1 100%;
        width: 20rem;
        margin: 1.25rem 1.75rem;
        display: flex;
        flex-direction: column;
    
        mat-card-header {
            flex: 1 0 auto;
    
            mat-icon[mat-card-avatar] {
                display: flex;
                justify-content: center;
            }
    
            mat-card-title, mat-card-subtitle {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        form {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
        }
    
        mat-card-content {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
        }
    
        mat-card-actions {
            display: flex;
            align-items: center;
    
            &:last-child {
                margin-bottom: -8px;
                padding-bottom: 0;
            }
        }
    }
}

.add-device-button {
    border-radius: .25rem .25rem 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.spacer {
    flex: 0 1 100%;
}

.progress-bar {
    flex: 0 0 auto;
}
