@import '~@angular/material/theming';

@mixin devices-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    app-devices {
        .add-device-button {
            background: mat-color($primary, darker);
        }
    }
}