.devices-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devices-container {
    padding: 1.25rem 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.device-card {
    width: 20rem;
    margin: 1.25rem 1.75rem;

    mat-card-title, mat-card-subtitle {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    mat-card-actions {
        display: flex;
        align-items: center;
    }
}

.add-device-button {
    border-radius: .25rem .25rem 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.spacer {
    flex: 0 1 100%;
}
