<div class="devices-root">
  <div class="devices-container">
    <mat-card class="device-card">
      <mat-card-title>Handle</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="device-info-item">
            <mat-icon mat-list-icon>place</mat-icon>
            <span>Location</span>
          </mat-list-item>
          <mat-list-item class="device-info-item">
            <mat-icon mat-list-icon>today</mat-icon>
            <span>Created</span>
          </mat-list-item>
          <mat-list-item class="device-info-item">
            <mat-icon mat-list-icon>language</mat-icon>
            <span>IP address</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-raised-button class="add-device-button" (click)="openAddDeviceSheet()">
    <mat-icon>add</mat-icon>
    <span>Add device</span>
  </button>
</div>
